<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-warning">VIEW YOUR CONTACT</h1>
            <p class="text-align:justify ">Contact management services are software solutions that allow individuals or businesses to store, organize, and manage their contacts in one central location. These services often include features such as contact categorization, searching, and filtering, as well as the ability to import and export contact data from other applications or devices.

                One of the key benefits of contact management services is that they can help streamline communication and collaboration between team members, as well as improve customer relationship management. By having all contact information in one place, teams can easily access and update customer information, reducing the risk of miscommunication or duplicate efforts.
                
                Another advantage of contact management services is that they can help improve productivity and efficiency by automating certain tasks, such as sending follow-up emails or scheduling appointments. This can save time and allow team members to focus on more strategic activities.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- ...form ....-->
        <div class="col-6 mt-5">
            <!-- <pre>
                {{groupId|json}}
            </pre> 

            <pre>
                {{groupName|json}}
            </pre>  -->
            
             

            <ul class="list-group">
                <h1>contact details</h1>
                <li class="list-group-item"> Name:{{contact.name}} </li>
                <li class="list-group-item">Email:{{contact.email}} </li>
                <li class="list-group-item">Mobile no:{{contact.phone}}</li>
                <li class="list-group-item">Company name:{{contact.company}}</li>
                <li class="list-group-item">Title:{{contact.title}}</li>
                <li class="list-group-item">Group:{{groupName}}</li>
            
              </ul>
              <a routerLink="/" class="btn btn-danger my-5">go back</a>
        </div>
        <div class="col-6">
            <img class="img-icon ms-5 mt-5" [src]="contact.photo" alt="">
        </div>
    </div>
</div>
